<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Fox Distribuidora | Del Moro</title>
    <meta name="description" content="A FOX Distribuidora é uma empresa dedicada à distribuição de materiais de construção e
    representações em Votuporanga. Oferecemos uma ampla variedade de produtos de alta qualidade. Nosso compromisso é fornecer
    soluções eficientes e atender às necessidades dos clientes da região.">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css', _external=True) }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico.ico') }}">



    {% block head %}
    {% endblock %}

</head>
<body>

    <style>
        :root {
            --cor-primaria-marrom: #C68642;
            --cor-secundaria-laranja: #E89F58;
            --cor-terciaria-laranja: #c76804;
            --cor-destaque-branco: #FFFFFF;
        }

        .bg-cor-secundaria-laranja {
            background-color: var(--cor-secundaria-laranja);
        }
         .bg-cor-terciaria-laranja {
            background-color: var(--cor-terciaria-laranja);
        }
    </style>

    {% include 'navbar.html' %}

        <header class="custom-gradient text-warning bg-cor-terciaria-laranja">
            <div class="container px-4 text-center pt-2">
                <h1 class="fw-bolder mt-5 text-white">FOX Distribuidora</h1>
                <p class="lead fw-bolder text-white">Distribuidora e Comércio |
                    Del Mouro Representação de Materiais Para Construção</p>
                <a class="btn btn-lg btn-dark mb-2 fw-bolder">Agora muito mais perto de você</a>

            </div>
        </header>

       <div class="container">
        {% with mensagens = get_flashed_messages(with_categories=True) %}
            {% if mensagens %}
                {% for categoria, mensagem in mensagens %}
                    <div class="alert {{ categoria }}">
                        {{ mensagem }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>




    {% block body %}
    {% endblock %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</body>
</html>
